{% extends "blog/base.html" %}
{% block content %}

<h2>Projekt Aplikacje Internetowe</h2>
<h4>Aplikacja webowa do predykcji obciążenia
    restauracji na podstawie danych historycznych.</h4>

{% endblock content %}
