{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

   <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary">Sprawdź</button>
    </form>

<style>

  .duze{ background-color: #FFE4E1;}
  .male{ background-color: #98FB98;}

</style>


     {% if predictedText == 'bardzo duze' %}
       <div class="alert alert-danger margin-top mt-1">Bardzo duże obciążenie</div>
     {% endif %}

     {% if predictedText == 'duze' %}
       <div class="alert alert-success duze mt-1">Duże obciążenie</div>
     {% endif %}

     {% if predictedText == 'srednie' %}
       <div class="alert alert-secondary mt-1">Średnie obciążenie</div>
     {% endif %}

     {% if predictedText == 'male' %}
       <div class="alert alert-success mt-1">Małe obciążenie</div>
     {% endif %}

     {% if predictedText == 'bardzo male' %}
       <div class="alert alert-success male mt-1">Bardzo małe obciążenie</div>
     {% endif %}




    <!--{{ predicted }}-->


{% endblock content %}
