{% extends "blog/base.html" %}
{% block content %}
    <h2>Zostałeś wylogowany</h2>
    <div class="border-top pt3">
        <small class="text-muted">
            Zaloguj się ponownie <a class="ml-2" href="{% url 'login' %}">Zaloguj</a>
        </small>
    </div>

{% endblock content%}
