{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <div>
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Register</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Zarejestruj</button>
            </div>
        </form>
    </div>

    <div class="border-top pt3">
        <small class="text-muted">
            Czy masz już konto? <a class="ml-2" href="{% url 'login' %}">Zaloguj</a>
        </small>
    </div>

{% endblock content%}
